.MainDiv {
    display: flex;
    /* border : white 1px solid; */
    gap :70px;
    transition: all 0.5s ease;
}

.MainDiv img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.certDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.MainDiv h1 {
    font-size: x-large;
    font-weight: bold;
}

@media only screen and (max-width: 800px){
    .MainDiv {
        gap : 20px;
    }
}